
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- Discover Tab -->
  <ion-tab title="Discover" icon-off="ion-ios-search-strong" icon-on="ion-ios-search-strong" href="#/tab/discover">
    <ion-nav-view name="tab-discover"></ion-nav-view>
  </ion-tab>


  <!-- Results Tab -->
  <ion-tab title="Results" icon-off="ion-ios-list" icon-on="ion-ios-list" badge="resultsCount()" badge-style="badge-assertive" on-select="enteringResults()"  href="#/tab/results">
    <ion-nav-view name="tab-results"></ion-nav-view>
  </ion-tab>


</ion-tabs>
